#scrollToTopBtn {
    bottom: 80px;
    right: 30px;
}

#scrollToBottomBtn {
    bottom: 20px;
    right: 30px;
}


.scrollTopBottomBtn {
    display: none; /* Mặc định button sẽ được ẩn */
    position: fixed;
    
    z-index: 99;
    /* button được ưu tiên hiển thị đè lên các phần khác*/
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

.scrollTopBottomBtn:hover {
    background-color: red;
}

.scrollTopBottomBtn:focus {
    outline: none;
}